@page "/unauthorized"
<MudText Typo="Typo.h3" Color="Color.Error">Access Denied</MudText>
<MudText>You do not have permission to view this page. Please <a href="/login">log in</a> with an admin account.</MudText>